* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}

.row{
    margin: 1%;
}

h1 {
    font-size: 175%;
    margin:40px;
    text-align: center;
}

h2 {
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: -12px;
    margin-right: -12px;
    margin-left: 75%;
    font-size: 125%;
    border: 2px solid black;
    text-align: center;

}
section{
    background-color: violet;
    padding: 10px;
    position: relative;
    border: 2px solid black;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 0%;
}

@media(min-width: 992px){
    .col-lg-4 {
        width:31.3%;
        float:left;
    }

}

@media(min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        float:left;
        width:48%;

    }
    .col-md-12 {
        float:left;
        width:98%;

    }
    
}

@media(max-width: 767px){
    .col-sm-12 {
        float:left;
        width:98%;
    }

}
